<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/src/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/src/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/src/favicon-16x16.png">
<link rel="manifest" href="/assets/src/site.webmanifest">
<link rel="mask-icon" href="/assets/src/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/src/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/src/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Umami Analytics -->
<script defer src="https://analytics.vsp.ink/script.js" data-website-id="8bcedc76-f61c-4a79-8138-aa5ebe0ef582"></script>

<!-- end custom head snippets -->