<!-- Start Author Sidebar { % include author_sidebar.htm % } updated 08/10/25 -->

<!-- Author Sidebar Large -->
<div class="col-lg-3 d-none d-lg-block">
<div class="card sticky-top author-sticky mt-5" style="border: none; box-shadow: none;"> 
  <img src="/assets/media/jacob-campbell-bio-headshot.jpeg" class="card-img-top rounded-circle mx-auto d-block" style="max-width: 150px;" alt="Jacob Campbell">
  <div class="card-body">
    <h5 class="card-title">Dr. Jacob Campbell, LICSW</h5>
    <p class="card-text small">I'm a father, husband, and educator committed to growing as a person and creating change for those with less power. I serve as an Associate Professor of Social Work at Heritage University. My work spans school social work, mental health, and youth with behavioral challenges. I'm passionate about educational innovation, interdisciplinary collaboration, and supporting students in becoming effective change agents.</p>
    <ul class="card-body">
      <li class="list-group-item"><i class="fa-solid fa-location-dot" style="color: var(--bs-danger);"></i> Pasco, WA</li>
      <li class="list-group-item"><a class="icon-link" style="text-decoration: none; color: var(--bs-body-color);" href="https://vsp.ink/hub"><i class="fa-solid fa-id-card-clip" style="color: #9b59b6;"></i> Link Hub</a></li>
    </ul>
  </div>
</div>
</div>
<!-- End Author Sidebar Large -->

<!-- Author Sidebar Small/Medium -->
<div class="col d-lg-none">
<div class="card mb-3" style="border: none; box-shadow: none;"> 
  <div class="row g-0">
    <div class="col-4">
    <img src="/assets/media/jacob-campbell-bio-headshot.jpeg" class="card-img-top rounded-circle mx-auto d-block" style="max-width: 100px;" alt="Jacob Campbell">
  </div>
  <div class="col-8">
  <div class="card-body">
    <h6 class="card-title mb-0">Dr. Jacob Campbell, LICSW</h6>
    <div class="bio-container">
      <input type="checkbox" id="toggle-bio" class="toggle-bio">
      
      <p class="bio-text small mb-0">
        I'm a father, husband, and educator committed to growing as a person and creating change for those with less power. I serve as an Associate Professor of Social Work at Heritage University. My work spans school social work, mental health, and youth with behavioral challenges. I'm passionate about educational innovation, interdisciplinary collaboration, and supporting students in becoming effective change agents.
      </p>
    </div>
  </div>
    <div class="row g-0 mb-0">
    <ul class="list-unstyled hstack small gap-3 mb-0 mt-1 ps-0">
      <li class="list-group-item border-0 p-0"><label for="toggle-bio" class="read-more mb-0 small"></label></li>
      <li class="list-group-item border-0 p-0"><i class="fa-solid fa-location-dot text-danger"></i> Pasco, WA</li>
      <li class="list-group-item border-0 p-0"><a class="icon-link text-body text-decoration-none" href="https://vsp.ink/hub"><i class="fa-solid fa-id-card-clip" style="color: #9b59b6;"></i> Link Hub</a></li>
    </ul>
    </div>
  </div>
  </div>
</div>
</div>

<!-- End Start Author Sidebar { % include author_sidebar.htm % } updated 08/10/25 -->