<p class="page__taxonomy">
  <strong><i class="fas fa-map-marked-alt" aria-hidden="true"></i> Locations: </strong>
  <span itemprop="keywords">

   {% if page.locations[0] %}
       <a href="/locations/{{ page.locations[0] | slugify }}" class="page__taxonomy-item" rel="location">{{ page.locations[0] }}</a><span class="sep">, </span>
    {% endif %}
    {% if page.locations[1] %}
       <a href="/locations/{{ page.locations[1] | slugify }}" class="page__taxonomy-item" rel="location">{{ page.locations[1] }}</a><span class="sep">, </span>
    {% endif %}
   {% if page.locations[2] %}
       <a href="/locations/{{ page.locations[2] | slugify }}" class="page__taxonomy-item" rel="location">{{ page.locations[2] }}</a><span class="sep">, </span>
    {% endif %}
   {% if page.locations[3] %}
       <a href="/locations/{{ page.locations[3] | slugify }}" class="page__taxonomy-item" rel="location">{{ page.locations[3] }}</a><span class="sep">, </span>
    {% endif %}
   {% if page.locations[4] %}
       <a href="/locations/{{ page.locations[4] | slugify }}" class="page__taxonomy-item" rel="location">{{ page.locations[4] }}</a><span class="sep">, </span>
    {% endif %}

  
  </span>
</p>
