---
layout: archive
pagination: 
title:  "Snapshots: My Blog"
author_profile: "true"
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: "assets/media/brazil-boat-sunset-blog-header.jpg"
  caption: "Photo credit: A photo I took during my [**Jaunt Down South**](/tags/#jaunt-down-south-2010) while on the Amazon in Brazil."
excerpt: "Little bits and pieces of my life written down and shared with you."
---

{% for post in paginator.posts %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h1 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h1>

<p>Posted on <a href="{{ post.url }}">{{ post.date | date: "%A %B %-d, %Y" }}</a> by <a href="/contact/">Jacob Campbell</a>.</p>

{{ post.content }}

  </article>
</div>
{% endfor %}

{% include paginator.html %}